html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: beige;
    font-family: 'K2D', sans-serif;
    background-image: linear-gradient(to right, #f22, #f2f 14.25%, #22f 28.5%, #2ff 42.75%, #2f2 57%, #2f2 71.25%, #ff2 85.5%, #f22);

}
a {
    text-decoration: none;
}
h1{
    margin: 0 auto;
}
p {
    margin: 0 auto;
}
#canvas{
    position: fixed;
    z-index: -3;
}

/* KEYFRAMES */
@keyframes smooth {
    0% {
      padding: 0 0;
      opacity: .1;
    }
  
    100% {
      padding: 100px 0;
      opacity: 1;
    }
  }
@keyframes skew {
    0% {
        -moz-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        -o-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
    }
    100% {

    } 
}
@keyframes rotate {
    0% {
        -moz-transform: rotate(360deg) skew(-1deg, 0deg);
    -webkit-transform: rotate(360deg) skew(-1deg, 0deg);
    -o-transform: rotate(360deg) skew(-1deg, 0deg);
    -ms-transform: rotate(360deg) skew(-1deg, 0deg);
    transform: rotate(360deg) skew(-1deg, 0deg);
    }
    100%{
    }
}
/* NAVIGATIONBAR */
.backround-image{
    height: 960px;
    padding-top: 10px;
    background: url(/pictures/hardwood-leaves-lumber-139312.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; */
    /* background-image: linear-gradient(to right, #f22, #f2f 14.25%, #22f 28.5%, #2ff 42.75%, #2f2 57%, #2f2 71.25%, #ff2 85.5%, #f22); */
    border-bottom: 2px solid black;
}

.nav-bar {
    height: 60px;
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    background-color: #000000;
    position: fixed;
    z-index: 3;
}

.logo {
    margin-left: 5%;
}

.logo-pic {
    margin-top: 5px;
    width: 100px;
    padding: 0;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    animation: rotate 100s;         
}

.logo-pic:hover {
    animation: smooth;
    transform: rotate(45deg);
}

.menu { 
    margin-right: 5%;
    align-content: space-around;
}
.menu-btn {
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
}
.menu-btn:hover {
    color:rgb(255, 0, 0);
    transform: scale(1.2);
}

.main {
    position: initial;
    margin: auto;
    margin-top: 10%;   
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;   
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    text-align: center;
    padding: 20px;
    transition: .4s;
    animation: fadein .4s;
    border-radius: 10%;
    animation: skew 1.6s;
}
.profile-pic{
    width: 200px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}
.profile-pic:hover{
    transform: scale(1.3);
}
/* Control of social media */
.connect-socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 40% 0 40%;
}

.p-i { /*Size of socialmedia icons*/
    font-size: 3rem;
    color: white;
    padding: 0 5px 2px 5px; 
    border-radius: 5px;
    border: 2px solid white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
  }
  .p-i:hover {
    transform: scale(1.2);
}
.header {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-family: 'Great Vibes', cursive;
    margin: 0 0 0 0;
}
.header-container {
    margin-top: 50px;
}
.content{
    font-size: 1rem;
}
.arrow{
    justify-content: center;    
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#arrow-down{
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 7rem;
    animation: rotate 3s;
    border-radius: 50%;
    text-align: center;
}
#arrow-down:hover{
    transform: scale(1.2);
}

/* ABOUT */
.about {
    background-color: rgba(128, 128, 128, 0.452);
    display: flex;
    margin: 20px 5% 0 5%;
    border-radius: 20px;
}
#laptop{
    margin: 0 0 0 5%;
    width: 300px;
    height: 300px;
}

/* PORTFOLIO */
.portfolio {
    background-color: rgba(128, 128, 128, 0.452);
    border-radius: 20px;
    margin: 0 5% 0 5%;
}
/* CONTACT */
.contact{
    background-color: rgba(128, 128, 128, 0.452);
    height: 300px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-content: column;
    margin: 20px 5% 0 5%;
}
/* FOOTER */
.footer {
    margin: 20px 0 0 0;
    color: white;
    background-color: black;
    text-align: center;
    border-top: 2px solid white;
    margin-bottom: 0px;
    height: 200px;
    width: 100%;
    padding-top: 40px;
}
#copywright{
    font-size: 1.2rem;
    padding: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}